<form action="/adicionar-item{% if item and item.id %}?id={{ item.id }}{% endif %}" method="post">
    <label for="nomeItem">Nome do Produto</label>
    <input type="text" name="nomeItem" id="nome-item" autofocus autocomplete="off" {% if item and item.nome %}value="{{ item.nome }}"{% endif %}>

    <label for="categoriaItem">Categoria</label>
    <select name="categoriaItem" id="categoria-item">
        <option value="" {% if not item %}selected{% endif %} disabled>Selecione a Categoria</option>
        {% for cat in categorias %}
            <option value='{{ cat }}' {% if item and item.categoria %}select{% endif %} >{{ cat | title }}</option>
        {% endfor %}
    </select>

    {% if item %}
        <p>CUIDADO!<br>Se estiver adicionando mais itens do mesmo, preste atenção na quantidade existente e some o valor que deseja adicionar antes de preencher esta parte do formulário!</p>
    {% endif %}
    <label for="quantidadeItem">Quantidade</label>
    <input type="number" name="quantidadeItem" id="quantidade-item" min="0" {% if item and item.quantidade %}value="{{ item.quantidade }}"{% endif %}>
    <label for="medidaItem">Unidade de Medida</label>
    <select name="medidaItem" id="medida-item">
        <option value="" {% if not item %}selected{% endif %} disabled>Selecione a Unidade de Medida</option>
        {% for med in medidas %}
            <option value='{{ med }}' {% if item and item.medida %}select{% endif %} >{{ med | title }}</option>
        {% endfor %}
    </select>

    <label for="tamanhoItem">Tamanho</label>
    <select name="tamanhoItem" id="tamanho-item">
        <option value="" {% if not item %}selected{% endif %} disabled>Selecione o Tamanho</option>
        {% for tam in tamanhos %}
            <option value='{{ tam }}' {% if item and item.tamanho %}select{% endif %} >{{ tam | title }}</option>
        {% endfor %}
    </select>

    <button type="submit">Adicionar</button>
</form>

{% if item %}
    <form action="/deletar-item?id={{ item.id }}" method="post">
        <button type="submit">Excluir Item</button>
    </form>
{% endif %}