<form action="/adicionar-item" method="post">
    <label for="nomeItem">Nome do Produto</label>
    <input type="text" name="nomeItem" id="nome-item" autofocus autocomplete="off">

    <label for="categoriaItem">Categoria</label>
    <select name="categoriaItem" id="categoria-item">
        <option value="" selected disabled>Selecione a Categoria</option>
        <option value="alimento">Alimento</option>
        <option value="prodLimpeza">Produtos de Limpeza</option>
        <option value="prodHigiene">Produtos de Higiene</option>
        <option value="epi">Equipamentos de Proteção Individual</option>
        <option value="epc">Equipamentos de Proteção Coletiva</option>
        <option value="manuMecanica">Manutenção Mecânica</option>
        <option value="manuEletrica">Manutenção Elétrica</option>
        <option value="laboratorio">Produtos Laboratório</option>
        <option value="extra">Outra Categoria</option>
    </select>

    <label for="quantidadeItem">Quantidade</label>
    <input type="number" name="quantidadeItem" id="quantidade-item" min="0">
    <label for="medidaItem">Unidade de Medida</label>
    <select name="medidaItem" id="medida-item">
        <option value="" selected disabled>Selecione a Unidade de Medida</option>
        <option value="metro">Metro (M)</option>
        <option value="quilograma">Quilograma (KG)</option>
        <option value="litro">Litro (L)</option>
        <option value="peca">Peça (PÇ)</option>
        <option value="par">Par (PR)</option>
        <option value="cento">Cento (CT)</option>
        <option value="milheiro">Milheiro (MIL)</option>
        <option value="caixa">Caixa (CX)</option>
        <option value="pacote">Pacote (PCT)</option>
        <option value="rolo">Rolo (RL)</option>
    </select>

    <label for="tamanhoItem">Tamanho</label>
    <select name="tamanhoItem" id="tamanho-item">
        <option value="" selected disabled>Selecione o Tamanho</option>
        <option value="pequenho">Pequenho (P)</option>
        <option value="medio">Médio (M)</option>
        <option value="grande">Grande (G)</option>
        <option value="grande">Único</option>
    </select>

    <button type="submit">Adicionar</button>
</form>