    <thead>
        <tr>
            <td>ID</td>
            <td>Nome</td>
            <td>Categoria</td>
            <td>Quantidade</td>
            <td>Medida</td>
            <td>Tamanho</td>
            <td>Ação</td>
        </tr>
    </thead>

    <tbody>
        {% for item in itens %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.nome }}</td>
            <td>{{ item.categoria }}</td>
            <td>{{ item.quantidade }}</td>
            <td>{{ item.medida }}</td>
            <td>{{ item.tamanho }}</td>
            <td><a href="#">Detalhes</a></td>
        </tr>
        {% else %}
        <tr>
            <td colspan="6">Nenhum item encontrado!</td>
        </tr>
        {% endfor %}
    </tbody>